@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.main .block-container {
    padding: 25px !important;  /* Remove qualquer preenchimento interno */
    margin: 0 auto;            /* Centraliza o contêiner e remove as margens laterais */
    max-width: 100%;           /* Opcional: aumenta a largura máxima do contêiner */
    background-color: #38B6FF;
}

#MainMenu{
    visibility: hidden;
}
header {visibility: hidden;}
footer {visibility: hidden;}

/* Personalizações adicionais */
body {
    background-color: #f0f2f6;
    font-family: Arial, sans-serif;
}

.titulo {
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 30px;
}